 body {

     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;
 }


 ul,
 ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
 }

 a {
     text-decoration: none;
 }


 .container {
     max-width: 1158px;
     padding: 0 15px;
     margin: 0 auto;
 }



 .page-header {
     border-bottom: 1px solid #e7e9fc;
 }

 .header-container {
     display: flex;
     align-items: center;
 }

 .header-nav {
     display: flex;
     align-items: center;
 }

 .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
 }

 .header-logo .logo-part {
     color: #2e2f42;
 }

 .header-logo {
     padding: 24px 0;
     margin-right: 76px;

 }

 .footer-logo .logo-part {
     color: #f4f4fd;
 }

 .nav-list {
     display: flex;
     align-items: center;
     gap: 40px;
 }

 .nav-link {
     padding: 24px 0;
     display: block;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
 }

 .nav-link:hover,
 .nav-link:focus {
     color: #404bbf;
 }

 .contacts-list {
     display: flex;
     align-items: center;
     gap: 40px;
 }

 .contacts-link:hover,
 .contacts-link:focus {
     color: #404bbf;
 }

 .contacts {
     font-style: normal;
     margin-left: auto;
 }

 .contacts-link {
     display: block;
     padding: 24px 0;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;

 }

 .page-footer {
     background-color: #2e2f42;
 }

 .hero {
     border: 1px solid #e7e9fc;
     background-color: #2e2f42;
     padding-top: 188px;
     padding-bottom: 188px;
     margin: 0 auto;
 }


 /* .hero-wrap { */
 /* display: flex; */
 /* align-items: center; */
 /* flex-direction: column; */
 /* box-sizing: border-box; */
 /* } */


 .hero-title {
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
     text-align: center;
     color: #fff;
     max-width: 496px;
     margin: 0 auto;
 }

 .hero-btn {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
     cursor: pointer;
     background-color: #4d5ae5;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     padding: 16px 32px;
     border-radius: 4px;
     margin: 0 auto;
     margin-top: 48px;
     display: block;
     min-width: 169px;
     height: 56px;
     border: none;
 }

 .hero-btn:hover,
 .hero-btn:focus {
     background-color: #404bbf;
 }

 .feature {
     border: 1px solid #e7e9fc;
     display: flex;
     align-items: center;
     padding: 120px 0;
 }


 .feature-wrap {
     display: flex;
     align-items: center;
     margin: 0 auto;
     width: 1128px;
     height: 104px;
 }


 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .feature-list {
     display: flex;
     align-items: center;
     gap: 24px;
 }

 .feature-item {
     width: calc((100% - 72px) / 4);
 }

 .feature-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .feature-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }


 .team {
     border: 1px solid #e7e9fc;
     background-color: #f4f4fd;
     padding: 120px 0;
 }



 .team-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     text-transform: capitalize;
     margin-bottom: 72px;
 }

 .team-list {
     display: flex;
     align-items: center;
     margin: 0 auto;
     gap: 24px;
 }

 .team-item {
     background-color: #FFFFFF;
     border-radius: 0 0 4px 4px;
     width: calc((100% - 3 * 24px) / 4)
 }

 .team-image {
     display: block;
 }

 .team-subtitel {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 8px;
     margin-top: 32px;
 }

 .team-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
     color: #434455;
     text-align: center;
 }

 .wrap-team {
     padding: 32px 0px;
 }

 .portfolio {
     background-color: #fff;
     padding: 120px 0;
 }

 .portfolio-title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     text-transform: capitalize;
     margin-bottom: 72px;
 }

 .portfolio-list {
     display: flex;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }

 .portfolio-item {
     width: calc((100% - 48px) / 3);
 }

 .portfolio-image {
     display: block;
 }

 .portfolio-subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     margin-bottom: 8px;
 }

 .portfolio-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #434455;
 }

 .wrap-portfolio {
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
 }

 .page-footer {
     padding: 100px 0;
 }

 .footer-text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     max-width: 264px;
 }

 .footer-logo {
     display: inline-block;
     margin-bottom: 16px;
 }